{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Little Bit Queer Art Shop | Cart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Delicious+Handrawn&family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'cart.js' %}"></script>
    <script src="https://kit.fontawesome.com/22fc12a701.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div id="header" class="row">
            <div class="col-4"></div>
            <div id="title" class="col-4">
                <a href="../">
                    <h1><span class="tiny-font colour-1">The</span> <span class="med-font colour-2">Little</span> <span class="small-font colour-3">Bit</span> Queer</h1>
                    <h2><span class="med-font">Art</span> <span class="colour-2">Shop</span></h2>
                </a>
            </div>
            <div class="col-4">
                <a href="./orders/cart">
                    <i class="options fa-solid fa-cart-shopping mt-5 me-5"></i>
                </a>
                {% if user.is_authenticated %}
                <a href="../users/profile">
                    <i class="options fa-solid fa-user mt-5 me-3"><span id="options-username" class="ms-3 me-2">{{ user.username }}</span></i>
                </a>
                {% else %}
                <a href="../accounts/login">
                    <i class="options fa-solid fa-user mt-5 me-3"><span id="options-username" class="ms-3 me-2">Log In</span></i>
                </a>
                {% endif %}
            </div>
        </div>
        <nav id="header-nav" class="navbar navbar-expand-lg">
            <div class="container-fluid justify-content-center">
                <ul class="navbar-nav">
                    <li class="nav-item item-start ps-5 pe-5">
                        <a class="nav-link ps-4 pe-4" href="../">Home</a>
                    </li>
                    <li class="nav-item item-mid ps-5 pe-5">
                        <a class="nav-link ps-4 pe-4" href="../shop">Shop</a>
                    </li>
                    <li class="nav-item item-end ps-5 pe-5">
                        <a class="nav-link ps-4 pe-4" href="../contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <section>
        <div class="flex-container mb-5 pb-3">
            <div class="row">
                <h3 class="text-center pt-5 pb-4">Cart</h3>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <table>
                        <thead>
                            <tr>
                                <th class="table-heading text-center col-4 pt-3 pb-2" colspan="2">Product</th>
                                <th class="table-heading text-center col-3 pt-3 pb-2">Description</th>
                                <th class="table-heading text-center col-1 pt-3 pb-2">Price</th>
                                <th class="table-heading text-center col-1 pt-3 pb-2">Quantity</th>
                                <th class="table-heading text-center col-1 pt-3 pb-2"></th>
                            </tr>
                        </thead>
                        <tbody id="cart-table-body">
                            <tr>
                                <td class="col-1 pt-1 pb-1">
                                    <a href="#">
                                        <img class="product" src="" alt="Queer Bros volume 1" title="Queer Bros vol. 1">
                                    </a>
                                </td>
                                <td class="col-3 px-4 py-5">
                                    <a href="#">
                                        <p title="Queer Bros vol. 1" class="pt-4">Queer Bros vol. 1</p>
                                    </a>
                                </td>
                                <td class="col-3 px-4 py-5">Volume 1 of the Queer Bros graphic novel</td>
                                <td class="col-1 px-4 py-5">£8.99</td>
                                <td class="col-1 px-4 py-5">1</td>
                                <td class="col-1 px-4 py-5">Remove</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row">
                <div class="col-8"></div>
                <div class="text-end col-3 me-5">
                    <button id="clear-cart-button" class="cart-buttons mt-3 me-2" type="button">Clear Cart</button>
                    <button id="checkout-button" class="cart-buttons mt-3" type="button">Checkout</button>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </section>

    <footer>
        <div id="footer" class="row pt-4 pb-4">
            <div class="col-4"></div>
            <div class="col-4 text-center pt-1 pb-1">
                <a class="social-buttons ms-4 me-4" href="https://www.twitter.com" target="_blank">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a class="social-buttons ms-4 me-4" href="https://www.instagram.com" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a class="social-buttons ms-4 me-4" href="https://www.facebook.com" target="_blank">
                    <i class="fa-brands fa-square-facebook"></i>
                </a>
            </div>
            <div class="col-4"></div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>

</html>
